:root {
  --primary-color: orange;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  border-right: 10px solid var(--primary-color);
  width: 15%;
}

body {
  /*  */
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* START header styles */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
  background: whitesmoke;
  background-size: cover;
}
header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-size: 22px;
}
/* END header styles */

/* START hero style */
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  /* color: black; */
  font-size: x-large;
  height: 175px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.hero h1 {
  padding: 15px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: whitesmoke;
  background-size: cover;
}
/* END hero styles */

/* START main styles */
main {
  width: 100%;
}

.info {
  display: flex;
  padding: 20px 20px 20px 20px;
  align-content: space-between;
}

.info h2 {
  justify-content: flex-end;
}
.info p {
  margin: 0 20px 0 20px;
  flex-direction: row;
  text-align: left;
  width: 75%;
}


/* END main styles */

/* START footer styles */

footer {
  padding: 20px 20px;
  background-color: var(--tertiary-color);

}

footer h2 {
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0;
  float: right;
}

.info a {
  font-size: x-large;
  font-weight: bolder;
  justify-content: space-between;
  margin: 0 30px;
}

.info ul {
  display: flex;
  margin: 0 30px;
  list-style: none;
}


.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

#contact-list {
 display: flex;
 flex-direction: row;
 font-weight: bolder;
 justify-content: space-evenly;

}

.workitem {
  padding: 10px
  display: flex;
  flex-direction: column;
  
}

/* media queries */