:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}


/* Hero Style Start */
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  font-size: x-large;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

}
.hero h1 {
 padding: 30px 47px;
 background: whitesmoke;
 background-size: cover;

}
/* Hero Style End */


/* Main Style Start */
.info {
  display: flex;
}
.info h1 {
border-right: var(--secondary-color);
flex-wrap: initial;
}
.info p {
 flex-direction: row;
}

/* Main Style End */


.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}


