:root {
  --primary-color: orange;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*  */
  color: var(--secondary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* START header styles */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: #fce138;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
/* END header styles */

/* START hero style */
.hero {
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  font-size: x-large;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}
.hero h1 {
  padding: 15px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: whitesmoke;
  background-size: cover;
}
/* END hero styles */

/* START main styles */

.info {
  display: flex;
  padding: 20px 20px 20px 20px;
}


}
.info h2 {
  text-align: right;
}
.info p {
  margin: 0 20px 0 20px;
  flex-direction: row;
  text-align: left;
}

/* END main styles */

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

#divide {
  border-right: 10px solid var(--secondary-color);
  padding-left: 10px;
}
